body {
    background-color: hsl(217, 54%, 11%);
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Outfits', sans-serif;
}

#container {
    max-width: 18.75rem;
    margin: 0 auto;
    margin-top: 10vh;
}

.product-img { 
    border-radius: 3%;
    max-width: 100%;
}

.product-img:hover {
    position: relative;
    z-index: 1;
    cursor: pointer;
    opacity: 30%;
}

.view {
    position: relative;
    bottom: 10rem;
    left: 7rem;
}

.view:hover {
    z-index: -1;
}

.pfp {
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 0.7em;
    margin-right: 1em;
    border-radius: 100%;
    border: 1px solid white;
    
}

.card {
    background-color: hsl(216, 50%, 16%);
    padding: 16px;
    border-radius: 12px;
}

h1 {
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
}

h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

h2 {
    font-weight: 400;
    color: hsl(178, 100%, 50%);
    font-size: 1rem;
    margin-right: 4.5rem;
    
}

h3,p {
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    font-size: 1rem;
}

svg {
    padding-right: 0.4em;
}

.specs {
    display: flex;
}

hr {
    border-color: hsl(215, 51%, 70%);;
}

.person-details { 
    display: flex;
}

span {
    color: white;
}

span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

footer{ font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 375px){
    #container {
        max-width: 25rem;
        margin: 0 auto;
        margin-top: 10vh;
    }   
}